<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> 
    <nav>
        <a href="/">
            <img src="static/img/logo.png" alt="DeFactify Logo">
        </a>
        <div>
            <a href="/">Home</a>
            <a href="/detector">Detector</a>
            <a href="/about">About Us</a>
        </div>
    </nav>
    <main>
        <div class="about-section">
            <h1>About Us</h1>
            <p>Welcome to DeFactify – your trusted companion in identifying and combating fake news. 
                This platform is the result of a university project focused on restoring public trust in journalism.</p>
            <p>Our mission is to providing tools to detect misinformation. DeFactify uses a Stacking Classifier model 
                with an SVM (Support Vector Machine) as the meta-model, achieving an accuracy of 94.15%. This robust 
                approach allows us to analyze news articles based on their titles and content, providing users with a
                clear verdict: True or Fake.</p>
            <p>We believe in the power of truth and the importance of accurate information in fostering an informed society. 
                In an era where misinformation can spread faster than facts, it's essential not only to detect falsehoods 
                but also to encourage critical thinking. Trust is vital — not just in our tools, but also in people's ability 
                to question, verify and think independently instead of accepting information blindly.</p>
            <p>Our vision is a world where misinformation is minimized and the truth prevails. Join us in the fight 
                against misinformation. Together, we can build a world where truth and thoughtful inquiry matter most!</p>
        </div>
    </main>    
</body>
</html>