<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> 
    <nav>
        <a href="/">
            <img src="static/img/logo.png" alt="DeFactify Logo">
        </a>
        <div>
            <a href="/">Home</a>
            <a href="/detector">Detector</a>
            <a href="/about">About Us</a>
        </div>
    </nav>
    <main>
        <div class="about-section">
            <h1>About Us</h1>
            <p>Welcome to DeFactify – your trusted companion in identifying and combating fake news. Our mission is to empower 
                individuals and organizations by providing tools to detect misinformation using machine learning algorithms.</p>
            <p>At DeFactify, we believe in the power of truth and the importance of accurate information in fostering an informed society. 
                In today's world, where misinformation spreads rapidly, having tools that can help distinguish between real and fake news 
                is crucial.</p>
            <p>DeFactify analyzes news articles by examining content and title patterns, identifying misleading and 
                providing users with two easy results - True or Fake. Whether you are a journalist, researcher or simply a curious 
                individual, our platform is designed to help you navigate the vast ocean of information with confidence.</p>
            <p>Our vision is a world where misinformation is minimized and truth prevails. By leveraging cutting-edge technology, 
                we aim to create a more transparent, informed and responsible digital ecosystem.</p>
            <p>Join us in the fight against misinformation. Together, we can build a world where truth matters most!</p>
        </div>
    </main>    
</body>
</html>