<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeFactify</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body> 
    <nav>
        <a href="/">
            <img src="static/img/logo.png" alt="DeFactify Logo">
        </a>    
        <div>
            <a href="/">Home</a>
            <a href="/detector">Detector</a>
        </div>
    </nav>
    <main>
        <div class ="containter">
            <div class="slide-left">
                <h1>Welcome to DeFactify</h1>
                <p>Detect fake news using machine learning algorithms. </p>
                <p>Let's make the world more informed!</p>
                <a href="/detector" class="button">Begin Here</a>
            </div>
            <div class="slide-right">
                <img src="static/img/fake-news.png" alt="DeFactify Image">
            </div>
        </div>
    </main>
</body>
</html>