<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeFactify 📰</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Welcome to DeFactify 📰</h1>
        <p>Detect fake news using machine learning</p>
    </header>
    <main>
        <form action="/predict" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required><br><br>
        
            <label for="content">Content:</label>
            <textarea id="content" name="content" required></textarea><br><br>
        
            <!-- Binary Checkbox for Journalist -->
            <label for="author_listed">Author Listed:</label>
            <input type="checkbox" id="author_listed" name="author_listed" value="True"><br><br>

            <button type="submit">Predict</button>
        </form>
    </main>
</body>
</html>